build
dist
piccard.egg-info
*~
.*.swp
*.pyc
*.txt
*.h5
duo
ten
mdc1-open1
DMSim
J0*
J1*
J2*
*.png
*.dat
*.tzt
dmrvh
dmtest
epta-2012
epta-gwb
five
mdc1*
tps
nanograv
other-datasets
testcdf.py
testsph.py
jitterext.c
jitterext.so
choleskyext.so
mcmc-gibbs-intro.pdf
showtree.sh
temppixels.py
Changelog
.DS_Store
.ipynb_checkpoints
examples
jitter-tests
